<div class="login-container">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="email" name="email" [(ngModel)]="email" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            name="password"
            [(ngModel)]="password"
          />
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="login()">
          Login
        </button>
      </form>
      <div class="links-container">
        <p class="link"><a routerLink="/register">Don't have an account?</a></p>
        <p class="link"><a routerLink="/recover">Forgot your Password?</a></p>
      </div>
      <div class="google-signin">
        <a (click)="signInWithGoogle()" class="google-link">
          <img
            src="../../../assets/images/google/icon-google.png"
            alt=""
            height="24px"
            width="24px"
          />
          <span class="google-text">Sign in with Google</span>
        </a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
