<div class="register-container">
  <mat-card class="register-card">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput type="email" name="email" [(ngModel)]="email" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            name="password"
            [(ngModel)]="password"
          />
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="register()">
          Register
        </button>
      </form>
    </mat-card-content>
    <div class="redirect-link">
      <p class="login-link">
        Already have an account?
        <a mat-button routerLink="/login">Login</a>
      </p>
    </div>
  </mat-card>
</div>
