.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.register-card {
  width: 300px;
}
form {
  display: flex;
  flex-direction: column;
}
button {
  margin-top: 16px;
}


.login-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem; /* Adjust this value as needed */
}
